header {
	height:16px;
	text-align: center;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	margin: 50px;
	padding-bottom: 20px;
}
body {
	background:#0F5478;
	border:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#72716f;
	line-height:20px;
	min-width:980px;
}
#menu {
	background:#fff;
	padding:10px 2px;
	height:39px;
	margin-bottom:10px;
}
#menu > li {
	border-right:1px solid #f2f2f2;
	float:left;
	list-style-type: none;
}
#menu > li > a {
	display:block;
	padding:0 45px;
	font-size:16px;
	color:#12110f;
	text-decoration:none;
	line-height:39px;
}
.main {
	margin:0 auto;
	width:1060px;
	padding:0 6px;
}
.div a:hover{
	background-color: #29B468;
}
.active {
    background-color: #29B468;
}
.box {
	background:#fff;
	position:relative;
	margin:0;
	padding-top: 60px;;
	height: 550px;
	width: 1060px;
}
.image {
	position:relative;
	height: 480px;
	width: 400px;
	margin: 0 310px;
	border-style: solid;
}
.image p{
	padding-left: 26px;
}
.footer{
	padding-left: 39px;
	color: #FFFFFF;
}
footer {
	padding-top: 47px;
	height:200px;
}
#footer_menu {
	padding-top:4px;
	float: left;
}
#footer_menu li {
	padding-right: 26px;
	list-style-type:none;
	display: inline;
}
#icons {
	padding-top:5px;
	float: left;
}
#icons li {
	float:left;
	display: inline;
	list-style-type: none;
	margin: 3px;
}
h2{
	font:30px Arial, Helvetica, sans-serif;
	padding: 5px 50px ;
	margin-left: 90px;
}
.div1{
	border-style: none;
	border-bottom: 1px solid #f2f2f2;
	margin-right: 40px;
	margin-bottom: 25px
}
.div2{
	border-style: none;
	border-bottom: 1px solid #f2f2f2;
	margin-right: 40px;
	margin-bottom: 25px
}
.div3{
	border-style: none;
	border-bottom: 1px solid #f2f2f2;
	margin-right: 40px;
	margin-bottom: 25px
}
.div4{
	border-style: none;
	border-bottom: 1px solid #f2f2f2;
	margin-right: 40px;
	margin-bottom: 25px
}
#label{
	border-style: none;
}
label{
	color: #1A92BA;
}
button{
	margin-top: 5px;
	width: 90%;
	height: 15%;
}
